
.certificate-point{
  font-size: 12px;
}
.certificate-title{
  margin-top: 15px;
}
.certificat div{
  margin-bottom: 50px;;
}
.certificat a{
  text-transform: uppercase;
}
.float-right{
  float: right;
}